<div class="page-header">
	<h3>高知高専 電気情報工学科 51期生 時間割管理システム</h3>
</div>

<table class="table table-bordered">
	<tr>
		<th class="col-xs-1"></th> <th class="col-xs-2">月</th> <th class="col-xs-2">火</th> <th class="col-xs-2">水</th> <th class="col-xs-2">木</th> <th class="col-xs-2">金</th>
	</tr>
	<tr>
		<th>1</th> <td>応用物理</td> <td>微積分</td> <td>電子回路</td> <td>電気回路</td> <td>電磁気学</td>
	</tr>
	<tr>
		<th>2</th> <td>応用物理</td> <td>ディジタル回路</td> <td>電子回路</td> <td>電気回路</td> <td>電磁気学</td>
	</tr>
	<tr>
		<th>3</th> <td>数学演習</td> <td>ディジタル回路</td> <td>世界経済史</td> <td>保健体育</td> <td>電気機器</td>
	</tr>
	<tr>
		<th>4</th> <td>英語</td> <td>情報通信ネットワーク</td> <td>国語</td> <td>保健体育</td> <td>電気機器</td>
	</tr>
	<tr>
		<th>5</th> <td>電気工学実験</td> <td>英語表現</td> <td>英語</td> <td>物理3E</td> <td>微積分</td>
	</tr>
	<tr>
		<th>6</th> <td>電気工学実験</td> <td>国語</td> <td>プログラミング</td> <td>物理3E</td> <td>微積分</td>
	</tr>
	<tr>
		<th>7</th> <td>電気工学実験</td> <td>英語</td> <td>プログラミング</td> <td>特活</td> <td></td>
	</tr>
</table>

<div class="panel-group" id="accordion">
  <% @tasks.each do |task| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class="label label-default">期限 : <%= task.deadline.strftime('%m/%d') %></span>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= task.id %>">
           <%= task.title %>
        </a>
        <span class="badge pull-right"><%= User.find(task.contributor_id).name %></span>
      </h4>
    </div>
    <div id="collapse<%= task.id %>" class="panel-collapse collapse">
      <div class="panel-body">
      	<%= task.content %>
      	<div class="btn-group pull-right">
	        <%= link_to ' Edit ', edit_task_path(task),:class=>'btn btn-success',:type=>'button' %>
	        <%= link_to 'Delete', task, method: :delete, data: { confirm: '削除しますか？' },:class=>'btn btn-danger',:type=>'button' %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<%= link_to '課題を登録する', new_task_path, :class => 'btn btn-primary' %>
